@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    [type='text']:focus, [type='email']:focus, [type='date']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='month']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
        --tw-ring-color: rgba(14, 160, 226, var(--tw-text-opacity));
        border-color: var(--tw-ring-color);
        border-left: 5px solid var(--tw-ring-color);
    }
}