@tailwind base;

@layer base {
    [type='text']:focus, [type='email']:focus, [type='date']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='month']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
        --tw-ring-color: rgba(14, 160, 226, var(--tw-text-opacity));
        border-color: var(--tw-ring-color);
        border-left: 5px solid var(--tw-ring-color);
    }
}

@tailwind components;

@layer components {
    .center-card {
        @apply absolute top-1/2 right-1/2;
        left: 46.5%;
    }

    .center-chart {
        @apply absolute left-1/2 right-1/2;
        top: 40%;
    }

    .center-stat {
        @apply absolute right-1/2;
        left: 46%;
        top: 33%;
    }

    .card-on-demand-thead-column {
        @apply text-center font-semibold px-4 py-[0.45rem] bg-blueGray-50 text-blueGray-600
    }

    .card-on-demand-tbody-column {
        @apply text-center text-sm font-normal px-4 py-[0.45rem] text-blueGray-700
    }

}

@tailwind utilities;

@layer utilities {
    .z-70 {
        z-index: 70;
    }
}

@screen xl {
    .card-on-demand-width-16 {
        @apply w-1/6
    }
    .card-on-demand-width-33 {
        @apply w-2/6
    }
    .card-on-demand-width-50 {
        @apply w-3/6
    }
    .card-on-demand-width-66 {
        @apply w-4/6
    }
    .card-on-demand-width-83 {
        @apply w-5/6
    }
    .card-on-demand-width-100 {
        @apply w-full
    }
}