@tailwind base;

@layer base {
    [type='text']:focus, [type='email']:focus, [type='date']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='month']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
        --tw-ring-color: rgba(14, 160, 226, var(--tw-text-opacity));
        border-color: var(--tw-ring-color);
        border-left: 5px solid var(--tw-ring-color);
    }
}

@tailwind components;

@layer components {
    .center {
        @apply absolute top-1/2 left-1/2 right-1/2
    }

    .center-top-40 {
        @apply absolute left-1/2 right-1/2;
        top: 40%;
    }

    .center-top-33 {
        @apply absolute left-1/2 right-1/2;
        top: 33%;
    }
}

@tailwind utilities;