.is-invalid {
    border-left: 5px solid #a94442; /* red */
}

.box-shadow-black {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 100%);
}

.box-shadow-blue {
    box-shadow: 0 4px 24px 0 rgb(8 94 165);
}

.box-shadow-gray {
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}

@media (min-width: 990px) {
    .background-navbar {
        background-image: url(/img/logo/horizontal_blue3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15rem;
    }
}

.text-xl-edit {
    font-size: 1.5rem;
}

.text-xs-edit {
    font-size: 0.8rem;
}


button:hover {
    transform: scale(1.005);
}

.scale-005:hover {
    transform: scale(1.003);
}

html, body {
    background: theme('colors.blueGray.100')
}

.react-select-tw__input > input {
    --tw-ring-shadow: 0 !important
}

.react-select-is-invalid.react-select-tw__control {
    border-left: 5px solid #a94442;
}

.column-fit {
    width: 1%;
    white-space: nowrap;
}

.swiper-button-disabled {
    opacity: 35%;
}

.text-overflow-ellipsis-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
